.page-content {
    background: #009cdf;
}

.navbar .logo-box {
    background: #009cdf;
    border-bottom: 1px solid #028dc9;;
}

.navbar .logo-box a {
     color: #fff;
}

.sidebar {
    background: #323237;
}

.sidebar-header {
    background: #34425A;
}

.sidebar-profile span small {
    color: #899dc1;
}

.menu {
    background: #323237;
}

.menu.accordion-menu a {
    color: #ffffff;
}

.menu.accordion-menu > li > a:hover {
/* 	background: #2b384e; */
    color: #97e0ff;
    cursor: pointer;
}

.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a {
	background: #323237;
    color: #fff;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
.horizontal-bar .accordion-menu > li.droplink:hover > a,
.menu.accordion-menu ul,
.menu.accordion-menu li.open > a,
.hover-menu .accordion-menu > li.droplink:hover > a {
    background: #b8b1a8;  color: #fff;
}

.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
/* 	background: #34425A; */
    color: #fff;
}

.menu.accordion-menu .sub-menu li.open > a {
	border-bottom: 1px solid rgba(255,255,255,0.4);
	padding-left: 0;
    margin-left: 29px;
    width: 110%;
}

.menu.accordion-menu ul li a {
    color: #ffffff;
}